{% include "header.html" %}
<body>
	{% include "nav.html"%}
	<table class="pressTable">
		<tr>
			<td class ="tableHeader">
				{{article.atitle}} - {{article.adate}}
			</td>
		</tr>
		<tr>
			<td class="tableText">
				{{article.acontent}}
			</td>
		</tr>
		{% if comments %}
		<tr>
			<td class="tableHeader">
				Comments:
			</td>
		</tr>
		{%endif %}
		{% for comment in comments %}
		<tr>
			<td class = "tableText">
				<a href="/profile/{{comment.cauthor.id}}">{{comment.cauthor.username}}</a> - {{comment.cdate}}<br/>
				{{comment.ccontent}}
			</td>
		</tr>
		{%endfor%}
	</table>
</body>

{% include "footer.html" %}
