{% include "header.html" %}
<body>
	{% include "nav.html"%}
	<table class="pressTable"> 
                {% for article in articles %}
                <tr class="tableHeader">
                        <td>
                                {{article.atitle}} - {{article.adate}}
                        </td>
                </tr>
                <tr class="tableText">
                        <td>
                                {{article.acontent}} <br/>
                                <a href="/press/{{article.id}}"> Comments </a>
                        </td>
                </tr>
                {%endfor%}
        </table>
</body>

{% include "footer.html" %}
