{% include "header.html" %}

<body>
        {% include "nav.html"%}
        
        <table class = "message">
                <tr>
                        <td class = "tableText" >
                                <br/>
                                <br/>
                                For some reason you are not able to do this action.<br/>
                                Check the following reasons:<br/>
                                - Not enough credits.<br/>
                                - your own assets.<br/>
                                - selected more shares than the amount for available for trade.<br/>
                                <br/>
                                <br/>
                        </td>
                </tr>

</body>

{% include "footer.html" %}
