{% include "header.html" %}
<body>
	{% include "nav.html"%}

	<table width="100%">
		<tr valign="top">
			<td width="45%">
				<table class="innerTable">
					<tr>
						<td class="tableHeader">
							Private Messages
						</td>
					</tr>
					{% for msg in private_messages %}
					<tr>
						<td class="tableText">
							De: {{msg.sender.username}}<br/>
							Envidado: {{msg.send_date}}<br/> 
							Mensagem: <br/>
							{{msg.content}}
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td class="tableHeader">
							New message:<br/>
							<form action="/msgsend/" method="post">{% csrf_token %} {{ form.as_p }} <input type="submit" value="Send" /> </form>
						</td>
					</tr>
				</table>
			</td>
			<td width="55%">
				<table class="innerTable">
					<tr>
						<td class="tableHeader">
							Last market events
						</td>
					</tr>
					{% for event in last_events %}
					<tr>
						<td class="tableText">
							<a href='/event/{{event.id}}'>{{event.player_to.username}} bought {{event.amount_of_shares}} shares of {{event.company.name}}, for {{event.total_credits}} credits from {{event.player_from.username}}</a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
	</table>
</body>

{% include "footer.html" %}
