{%include "header.html" %}

<body>
	{% include "nav.html"%}
	<table class= "eventTable">
		<tr>
			<td class = "tableHeader">
				Event Details:
			</td>
		</tr>
	</table>
	<table class= "eventTable">
		<tr>
			<td class = "tableHeader" width ="200px">
				Company:
			</td>
			<td class="tableText">
				{{event_data.company.name}}
			</td>
		</tr>
		<tr>
			<td class = "tableHeader">
				Seller:
			</td>
			<td class = "tableText">
				{{event_data.player_from.username}}
			</td>
		</tr>
		<tr>
			<td class = "tableHeader">
				Buyer:
			</td>
			<td class = "tableText">
				{{event_data.player_to.username}}
			</td>
		</tr>
		<tr>
			<td class = "tableHeader">
				Number of Shares:
			</td>
			<td class = "tableText">
				{{event_data.amount_of_shares}}
			</td>
		</tr>
		<tr>
			<td class = "tableHeader">
				Credits:
			</td>
			<td class = "tableText">
				{{event_data.total_credits}}
			</td>
		</tr>
	</table>

	<table class= "eventTable">
		<tr>
			<td class = "tableHeader">
				Comments:
			</td>
		</tr>
		{% for comment in comments %}
		<tr>
			<td class = "tableText">
				<a href="/profile/{{comment.author.id}}">{{comment.author.username}}:</a> - {{comment.content}}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td class = "tableHeader">
				Add a Comment:<br/>
				<form action="/event/{{event_data.id}}/" method="post">{% csrf_token %} {{ form.as_p }} <input type="submit" value="Send" /> </form>
			</td>
		</tr>

	</table>
</body>

{% include "footer.html" %}
