{% include "header.html" %}
<body>
        <table align="center">
                <tr>
                        <td>
                                <img src="{{STATIC_URL}}Intro.png">
                        </td>
                </tr>
                <tr>
                        <td align="center">
                                {% for name, backend in backends %}
                                <a rel="nofollow" href="{% url socialauth_begin name %}"><img src="{{STATIC_URL}}loginbutton.png"></a>
                                {% endfor %}
                        </td>
                </tr>
                

        </table>
</body>
{% include "footer.html" %}
