<div id='topmenu'>
        <table class = "menu">
                <tr>
                        <td class='menuText'>
                        {% for link in menu_items %}
                                <a href="{{link.link_url}}">{{link.link_name}}</a>&nbsp&nbsp&nbsp&nbsp
                        {%endfor%}
                        </td>
                        <td class="menuText" align="right">
                                Username: {{user}} &nbsp&nbsp Credits: {{credits}}
                        </td>
                </tr>
        </table>
</div>
