{% include "header.html" %}
<body>
	{% include "nav.html"%}

	<table class="profileTable">
		<tr>
			<td class="tableHeader">
				{{userob.username}} Profile
			</td>
		</tr>
	<table>

	<table class="profileTable">
		<tr>
			<td class="tableHeader" width="200">
				Name:
			</td>
			<td class="tableText">
				{{userob.first_name}}
			</td>
		</tr>
		<tr>
			<td class="tableHeader">
				Credits:
			</td>
			<td class="tableText">
				{{ucredits.current_credits}}
			</td>
		</tr>
		<tr>
			<td class="tableHeader">
				Awards:
			</td>
			<td class="tableText">
				{% for badge in uawards %}<IMG SRC="{{ STATIC_URL }}{{badge.badge}}" alt="badge.title">{% endfor %}
			</td>
		</tr>
	</table>

	<table class="profileTable">
		<tr>
			<td class="tableHeader">
				Last Sells:
			</td>
		</tr>
		{% for event in sells %}
		<tr>
			<td class= "tableText">
				{{event.player_to.username}} bought {{event.amount_of_shares}} shares of {{event.company.name}}, for {{event.total_credits}} credits from {{event.player_from.username}}
			</td>
		</tr>
		{% endfor %}

		<tr>
			<td class="tableHeader">
				Last Buys:
			</td>
		</tr>
		{% for event in buys %}
		<tr>
			<td class= "tableText">
				{{event.player_to.username}} bought {{event.amount_of_shares}} shares of {{event.company.name}}, for {{event.total_credits}} credits from {{event.player_from.username}}
			</td>
		</tr>
		{% endfor %}
	<table>
</body>

{% include "footer.html" %}
