{% include "header.html" %}
<body>
	{% include "nav.html"%}
	<table class="tradeTable">
                <tr>
                        <td class = "tableHeader">
                                Market state
                        </td>
                </tr>
        </table>
        <table class="tradeTable">
                {%for comp, yest, tod, dif in values_list %}
                <tr>
                        <td class = "tableHeader">
                                {{comp}}
                        </td>
                        <td class = "tableText">
                                {{yest}}
                        </td>
                        <td class = "tableText">
                                {{tod}}
                        </td>
                        <td class = "tableText">
                                {{dif}}
                        </td>
                </tr>
                {%endfor %}
        </table>

        <table class="tradeTable">
                <tr>
                        <td class = "tableHeader">
                                Current proposals:
                        </td>
                </tr>
                {% for prop in proposals %}
                <tr>
                        <td class = "tableText">
                                {{prop.player_from.username}} wants to {{prop.p_type}} {{prop.shares}} shares from {{prop.company.name}} - <a href="/trading/{{prop.id}}">view</a>
                                <form action="/buy/{{prop.id}}/" method="post">{% csrf_token %} {{ form.as_p }} <input type="submit" value="Submit" /> </form>
                        </td>
                </tr>
                {% endfor %}
        </table>
</body>

{% include "footer.html" %}
