{% include "header.html" %}
<body>
	{% include "nav.html"%}
	<table class = "walletTable">
		<tr>
			<td class = "tableHeader">
				Your Assets:
			</td>
		</tr>
		{% for invest in userinvest %}
		<tr>
			<td class = "tableText">
				- {{invest.n_shares}} shares of <a href="/company/{{invest.of_company.id}}"> {{invest.of_company.name}} </a>
				<br/>
				TEMPORARY
				<form action="/addproposal/{{invest.id}}/" method="post">{% csrf_token %} {{ form.as_p }} <input type="submit" value="Sell" /> </form>
			</td>
		</tr>
		{% endfor %}
	</table>

	<table class = "walletTable">
		<tr>
			<td class = "tableHeader">
				Assets current market value:
			</td>
		</tr>
	</table>
	<table class = "walletValueTable">
		<tr>
            <td class = "tableHeader">
                    Company
            </td>
            <td class = "tableHeader">
                    Yesterday
            </td>
            <td class = "tableHeader">
                    Today
            </td>
            <td class = "tableHeader">
                    Diference
            </td>
            <td class = "tableHeader">
                    Initial Value
            </td>
            <td class = "tableHeader">
                    Gains
            </td>

        </tr>
		{%for comp, yest, tod, dif, init, gainloss in values_list %}
		<tr>
			<td class= "tableHeader">
				{{comp}}
			</td>
			<td class= "tableText">
				{{yest}}
			</td>
			<td class= "tableText">
				{{tod}}
			</td>
			<td class= "tableText">
				{{dif}}
			</td>
			<td class= "tableText">
				{{init}}
			</td>
			<td class= "tableText">
				{{gainloss}}
			</td>
		</tr>
		{%endfor %}
	</table>
	
</body>

{% include "footer.html" %}
